$theme-clr: #ff9500;
$blackish-clr: #333;
$font: "Courier New",
monospace;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 14px;
    color: $theme-clr;
    font-family: $font;
    letter-spacing: 0.1em;
    background-color: $blackish-clr;
    width: 100%;
}

.page-title {
    font-size: clamp(1rem, 2.5vw, 2rem);
    text-align: center;
    margin: 1rem auto;
}

.ripple-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .btn {
        color: #fff;
        height: 11rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        aspect-ratio: 1/1;
        background-color: $theme-clr;
        border: 0.125rem dotted #fff;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        span {
            position: relative;
            color: #fff;
            font-size: 1.25rem;
            font-weight: 600;
            letter-spacing: 0.2rem;
        }
    }
}

.ripple {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #9b0e0e;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: rippleAnim 0.5s forwards;
    @keyframes rippleAnim {
        0% {
            width: 0;
            height: 0;
        }
        100% {
            width: 210%;
            height: 210%;
        }
    }
}

.nav-btn {
    position: fixed;
    bottom: 0.25rem;
    padding: 1rem;
    width: 100%;
    a {
        color: #fff;
        font-weight: 500;
    }
    .next-project {
        float: right;
    }
}