$theme-clr: rgba(45, 111, 103, 1);
$txt-clr: #fff;
$black: #333;
$font: "roboto", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

::placeholder {
  color: $txt-clr;
  opacity: 1;
}

@mixin flex($dir, $justify: space-around) {
  display: flex;
  justify-content: $justify;
  flex-direction: $dir;
  align-items: center;
}

#posi {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

#arrow-btn {
  color: $theme-clr;
  background-color: #fff;
  display: inline-block;
  padding: 0.35rem 0.4rem 0.35rem 2rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}

body {
  font-size: 14px;
  color: $txt-clr;
  font-family: $font;
  font-weight: 500;
  overflow-x: hidden;
  background: url(../code.webp) 100% 100% no-repeat fixed;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    background-color: $black;
    opacity: 0.5;
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}

h1 {
  padding: 1rem;
  text-align: center;
}

.home-nav {
  padding: 1rem 2rem;
  font-size: 1rem;
  .nav-card {
    background-image: linear-gradient(
      to right,
      rgb(242, 112, 156),
      rgb(255, 148, 114)
    );
    transition: all .15s ease-in;
    &:hover {
      border-left: 5px solid #fdfbfb;
    }
    .card-block {
        padding: 1rem;
        a {
          color: #fff;
          font-weight: 700;
          display: block;
          padding: 0.5rem 1rem;
          transition: all 0.3s ease-in-out;
        }
    }
  }

}
